
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Shared style */
.color_orange{
  color: #FD6E0A;
}
.btn{
  background-color: #FD6E0A;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
/* Main style */
header{
  background-color: #FFF8F3;
  /* background-color: #a8998e; */
  padding-top: 50px;
}
nav{
  width: 74%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}

nav .manu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .manu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}